<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Balloon Order page - Search query results</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <style type="text/css">

    </style>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">BalloonAPP</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
            aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">

            <li class="nav-item">
                <a class="nav-link" href="/balloons">Home</a>
            </li>

            <li class="nav-item ">
                <a class="nav-link" href="/orders">My Orders </a>
            </li>

            <li class="nav-item ">
                <a class="nav-link" href="/balloons/add-form">Add Balloon </a>
            </li>

            <li class="nav-item active">
                <a class="nav-link" href="#">Search Results <span class="sr-only">(current)</span> </a>
            </li>
        </ul>

        <form th:method="POST" th:action="@{/searchBalloon}">
            <input type="text" name="queryString"/>
            <button class="btn btn-primary" type="submit">Search</button>
        </form>

        <!--        <form class="form-inline my-2 my-lg-0">-->
        <!--            <input type="text" name="queryString"/>-->
        <!--            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>-->
        <!--        </form>-->
    </div>
</nav>



<div class="jumbotron text-center">
    <h1>Search query results</h1>
</div>

<div class="row justify-content-md-center">

    <div class="col-md-6">
        <ul>
            <li th:each="balloon : ${foundBalloons}">
                <th:block th:text="${balloon.name}"/>
                <th:block th:text="${balloon.description}"/>
            </li>
        </ul>

        <a href="/balloons" class="btn btn-primary">Back</a>
    </div>
</div>






</main>
</body>
<div th:replace="fragments/footer :: footer">...</div>
</html>