<!DOCTYPE html>
<html>
<head>
    ...
</head>
<body>
<div th:fragment="footer">
    <footer class="text-black-50 mt-xl-5">
        <div class="container">
            <hr>
            <div class="row">
                <div class="col-md-3 ">
                    <h5>About</h5>
                    <hr class="bg-white mb-2 mt-0 d-inline-block mx-auto w-25">
                    <p class="mb-0">
                       Laboratory Exercise for the course Web Programming.
                    </p>
                </div>
                <div class="col-md-6">
                    <h5>Contact</h5>
                    <hr class="bg-white mb-2 mt-0 d-inline-block mx-auto w-25">
                    <ul class="list-unstyled">
                        <li><i class="fa fa-home mr-2"></i> Aleksandar Ivanovski</li>
                        <li><i class="fa fa-envelope mr-2"></i> aleksandar.ivanovski.1@students.finki.ukim.mk</li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <h5>Codebase</h5>
                    <hr class="bg-white mb-2 mt-0 d-inline-block mx-auto w-25">
                    <ul class="list-unstyled">
                        <li><a href="https://github.com/Aleksandar1932/WP2020_lab1"><i class="fab fa-github"></i> GitHub</a></li>

                    </ul>
                </div>


            </div>
        </div>
    </footer>
</div>
</body>
</html>