<th:block xmlns:th="http://www.thymeleaf.org">
    <div class="jumbotron text-center" th:if="${balloon} == null">
        <h1>Add New Balloon</h1>
    </div>

    <div class="jumbotron text-center" th:if="${balloon} != null">
        <h1>Edit an existing Balloon</h1>
    </div>

    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-md-6">
                <form action="/balloons/add" method="POST">
                    <div class="form-group">
                        <label for="name">Balloon Name</label>

                        <input type="text" class="form-control" id="name" name="name"
                               th:value="(${balloon != null}) ? ${balloon.getName()} : ''"
                               required
                               placeholder="Enter the balloon's name">
                    </div>

                    <div class="form-group">
                        <label for="description">Balloon Description</label>

                        <input type="text" class="form-control" id="description" name="description"
                               th:value="(${balloon != null}) ? ${balloon.getDescription()} : ''"
                               required
                               placeholder="Enter the balloon's description">
                    </div>

                    <div class="form-group">
                        <label for="manufacturerId">Balloon Manufacturer</label>

                        <select id="manufacturerId" name="manufacturerId" class="form-control">
                            <option th:if="${balloon} != null"
                                    th:each="man : ${manufacturers}"
                                    th:selected="${balloon.getManufacturer() != null && balloon.getManufacturer().getId() == man.getId()}"
                                    th:text="${man.getName()}"
                                    th:value="${man.getId()}">
                            </option>

                            <option th:if="${balloon} == null"
                                    th:each="man : ${manufacturers}"
                                    th:text="${man.getName()}"
                                    th:value="${man.getId()}">
                            </option>
                        </select>

                    </div>

                    <div class="form-group">
                        <label for="type">Balloon Type</label>

                        <select id="type" name="type" class="form-control">
                            <option th:if="${balloon} != null"
                                    th:each="type : ${types}"
                                    th:selected="${balloon.getType() != null && balloon.getType().name() == type.name()}"
                                    th:text="${type}"
                                    th:value="${type}">
                            </option>

                            <option th:if="${balloon} == null"
                                    th:each="type : ${types}"
                                    th:text="${type}"
                                    th:value="${type}">
                            </option>
                        </select>

                        <input th:if="${balloon} != null" type="hidden" th:value="${balloon.getId()}"
                               name="balloonToUpdateId">

                    </div>

                    <button class="btn btn-primary" name="submit" type="submit">Submit</button>
                    <a type="button" class="btn btn-primary" href="/balloons">Back</a>
                </form>
            </div>
        </div>
    </div>
</th:block>