<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Balloon Order page - Welcome and choose a Balloon</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <style type="text/css">
        body {
            width: 800px;
            margin: auto;
        }
    </style>
</head>
<body>
<div class="jumbotron">
    <h1>Welcome to our Balloon Shop App</h1>
</div>
<main>
    <h2>All balloons:</h2>
    <ul>
        <li th:each="balloon : ${balloons}">
            <th:block th:text="${balloon.name}"/>
            <th:block th:text="${balloon.description}"/>

        </li>
    </ul>


    <h2>Choose balloon color:</h2>
    <form th:method="POST" th:action="@{/selectBalloon}">
        <input type="radio" name="color" value="Red Balloon"> Red Balloon<br/>
        <input type="radio" name="color" value="Green Balloon"> Green Balloon<br/>
        <input type="radio" name="color" value="Yellow Balloon"> Yellow Balloon<br/>
        <input type="radio" name="color" value="Blue Balloon"> Blue Balloon<br/>
        <!--        <input type='submit' value='Submit'/>-->
        <button class="btn btn-success" type="submit">Submit</button>
    </form>
    <br/>

    <h2>Search a balloon:</h2>
    <form th:method="POST" th:action="@{/searchBalloon}">
        <input type="text" name="queryString"/>

        <button class="btn btn-primary" type="submit">Search</button>
    </form>
</main>
</body>
<div th:replace="fragments/footer :: footer">...</div>
</html>