<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Balloon Order page - Welcome and choose a Balloon</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <style type="text/css">
    </style>


</head>
<body>


<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/balloons">Balloon Shop</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
            aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">

            <li class="nav-item active">
                <a class="nav-link" href="/balloons">Home</a>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Balloons
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/balloons">View All</a>
                    <a class="dropdown-item" href="/balloons/add-form">Add new balloon</a>
                </div>
            </li>
        </ul>

        <a class="btn btn-warning btn-sm ml-3" href="/order/placed">
            <i class="fas fa-history"></i> My orders
        </a>

        <a class="btn btn-success btn-sm ml-3" href="/shopping-cart">
            <i class="fas fa-shopping-cart"></i> Cart
        </a>


        <a class="btn btn-light btn-sm ml-3" href="/logout">
            <i class="fas fa-sign-out-alt"></i></i> Logout
        </a>
    </div>
</nav>


<div class="jumbotron text-center">
    <h1>The No.1 balloon shop</h1>
</div>

<div class="row justify-content-md-center">
    <div class="col-md-8">
        <h2>Review your order</h2>

        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">Balloon Name</th>
                    <th scope="col">Balloon Type</th>
                    <th scope="col">Description</th>
                    <th scope="col">Manufacturer</th>

                </tr>
                </thead>

                <tbody>
                <tr th:each="balloon : ${balloons}">
                    <td th:text="${balloon.getName()}"></td>
                    <td th:text="${balloon.getType()}"></td>
                    <td th:text="${balloon.getDescription()}"></td>
                    <td th:text="${balloon.getManufacturer().getName()}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-sm 12 col-md-12">
            <a href="#" class="btn btn-block btn-dark">Place Order</a>
        </div>
    </div>
</div>

<form th:method="post" th:action="@{/order/place}">

    <div class="form-group">
        <label for="deliveryAddress">Your delivery address</label>
        <input type="text" class="form-control" name="deliveryAddress" id="deliveryAddress">
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>


</body>

<div th:replace="fragments/footer :: footer">...</div>

</html>