<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Balloon Order page - Welcome and choose a Balloon</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <style type="text/css">
    </style>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">BalloonAPP</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">

            <li class="nav-item">
                <a class="nav-link" href="/balloons">Home</a>
            </li>

            <li class="nav-item active">
                <a class="nav-link" href="/orders">My Orders <span class="sr-only">(current)</span></a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/balloons/add-form">Add Balloon</a>
            </li>
        </ul>

        <form th:method="POST" th:action="@{/searchBalloon}">
            <input type="text" name="queryString"/>
            <button class="btn btn-primary" type="submit">Search</button>
        </form>

        <!--        <form class="form-inline my-2 my-lg-0">-->
        <!--            <input type="text" name="queryString"/>-->
        <!--            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>-->
        <!--        </form>-->
    </div>
</nav>

<div class="jumbotron text-center">
    <h1>Orders for user <span th:text="${orders.get(0).clientName}"></span></h1>
</div>
<main>
    <div class="row justify-content-md-center">
        <div class="col-md-8">
            <h2>Your orders:</h2>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col">Order Id</th>
                        <th scope="col">Balloon Name</th>
                        <th scope="col">Balloon Description</th>
                        <th scope="col">Balloon Manufacturer</th>
                        <th scope="col">Balloon Color</th>
                        <th scope="col">Balloon Size</th>
                        <th scope="col">Delivery Address</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr th:each="order : ${orders}">
                        <td th:text="${order.getOrderId()}"></td>
                        <td th:text="${order.getBalloon().getName()}"></td>
                        <td th:text="${order.getBalloon().getDescription()}"></td>
                        <td th:text="${order.getBalloon().getManufacturer().getName()}"></td>
                        <td th:text="${order.getBalloonColor()}"></td>
                        <td th:text="${order.getBalloonSize()}"></td>
                        <td th:text="${order.getClientAddress()}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>


</main>
</body>
<div th:replace="fragments/footer :: footer">...</div>
</html>