<th:block xmlns:th="http://www.thymeleaf.org">
    <div class="jumbotron text-center">
        <h1>Review your order</h1>
    </div>
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-md-10">
                <h3>Your balloons:</h3>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th scope="col">Balloon Name</th>
                            <th scope="col">Balloon Type</th>
                            <th scope="col">Description</th>
                            <th scope="col">Manufacturer</th>

                        </tr>
                        </thead>

                        <tbody>
                        <tr th:each="balloon : ${balloons}">
                            <td th:text="${balloon.getName()}"></td>
                            <td th:text="${balloon.getType()}"></td>
                            <td th:text="${balloon.getDescription()}"></td>
                            <td th:text="${balloon.getManufacturer().getName()}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <form th:method="post" th:action="@{/order/place}">

                    <div class="form-group">
                        <label for="deliveryAddress">Your delivery address</label>
                        <input type="text" class="form-control" name="deliveryAddress" id="deliveryAddress">
                    </div>

                    <button type="submit" class="col-md-12 btn btn-primary"><i class="fas fa-paper-plane"></i> Place
                        Order
                    </button>
                </form>
            </div>
        </div>
    </div>
</th:block>